@import url(https://fonts.googleapis.com/css2?family=Rubik&display=swap);
@import url(https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap);
// Color Variables
$main-background: #334155;
$board-bg: #94a3b8;
$knight-color: #f1f5f9;
$black-square: #0f172a;
$white-square: #64748b;
$button-color: #cbd5e1;
$button-hover: #f1f5f9;
$button-border: #e2e8f0;
$dark-text: #040a18;

// Font Family
$font-fam: "Rubik", sans-serif;
$mono-fam: "IBM Plex Mono", monospace;
$title-fam: "Montserrat Alternates", sans-serif;

// Grid Dimensions
$grid-height: 80px;
$grid-width: 80px;

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inherit;
}

body {
  background-color: $main-background;
  height: 100vh;
  font-size: 16px;
  font-family: $font-fam;
}

button {
  background-color: $button-color;
  border: 2px solid $button-border;
  border-radius: 8px;
  outline: none;
  padding: 8px 10px;
  width: 120px;
  height: 100%;

  &:hover {
    background-color: $button-hover;
    cursor: pointer;
  }
}

#reset {
  background: transparent;
  color: $knight-color;
  border: 1px solid $board-bg;

  &:hover {
    background-color: $board-bg;
    color: $black-square;
  }
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;

  #title {
    font-family: $title-fam;
    font-size: clamp(4rem, 6vw, 7rem);
    color: $button-border;
    line-height: 1.25;
    overflow: hidden;

    span {
      display: block;
      animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1);
    }
  }
}

.main-container {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  gap: 1.5rem;
  margin-top: 6rem;

  .chessboard {
    display: flex;
    border: 1px solid $board-bg;
    background-color: $board-bg;
    border-radius: 6px;
    padding: 5px;
    box-shadow: 2px 5px 7px #0f172a;

    p {
      color: #fff;
    }
  }

  .grid-item {
    width: $grid-width;
    height: $grid-height;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap: 8px;
  }

  .column {
    width: 100%;
    height: 100%;
  }

  .black {
    background-color: $black-square;
  }

  .white {
    background-color: $white-square;
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
  }
}

.output-container {
  display: flex;
  border: 2px solid $black-square;
  height: 125px;
  font-family: $mono-fam;
  font-weight: 700;
  font-size: 1.1rem;

  .output-left {
    display: flex;
    align-items: center;
    padding: 0 7px;
    // place-items: center;
    border-right: 2px solid $dark-text;
    width: 190px;
    flex-shrink: 0;

    .output-titles {
      display: flex;
      flex-flow: column;
      gap: 5px;
    }

    .initial-output {
      display: flex;
      flex-flow: column;
      padding-left: 25px;
      gap: 5px;

      p {
        color: $button-border;
      }
    }

    p {
      color: $dark-text;
      font-size: 1rem;
      word-wrap: break-word;
    }

    span {
      font-weight: 700;
    }
  }
}

.output-right {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  height: 100%;
  width: 425px;

  p {
    overflow-wrap: break-word;
    flex-grow: 0;
    font-size: 1.1rem;
    color: $button-border;
  }

  .path-title p {
    color: $dark-text;
  }

  .path-output {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75%;
  }
}

.fa-chess-knight {
  font-size: 3rem;
  color: $knight-color;
}

.fa-circle {
  color: #67e8f9;
  background: transparent;
  border-radius: 50%;
  transition: all 1s ease;
  font-size: 1.3rem;
  box-shadow: 0 0 15px 5px #95c5df;
}

@keyframes reveal {
  0% {
    transform: translate(0, 100%);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
